*, *:after, *:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $source-sans;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
  color: $gray-dark;
  letter-spacing: .25px;
}

p {
  margin-top: 0;
  margin-bottom: 32px;
}

a {
  font-weight: 700;
  color: $red;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

b,
strong {
  font-weight: bold;
}

input {
  font-family: $source-sans;
  font-size: 18px;
}

blockquote {
  margin-right: 30px;
  margin-left: 53px;
  padding-left: 14px;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: $blue-light;
  border-left: 2px solid $blue-light;
}
