// Below is everything in site-header that's not in site-header__nav
// All site-header__nav code is in navigation.scss

.site-header {
  position: absolute;
  // top: 0;
  z-index: 1;
  width: 100%;

  .single-post &,
  .single-resources &,
  .page-template-default &,
  .error404 &,
  .author &,
  .archive &,
  .search & {
    background-image: url('images/background-header.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .post-type-archive-news-and-press &,
  .post-type-archive-resources & {
    background-image: none;
  }

  .sticky-header & {
    position: fixed;
    z-index: 999;
    height: 85px;
    background-color: $background-white;
    background-image: none;
    transition: all .5s ease-in-out 0s;
  }

  .wrap {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    margin-top: 24px;

    .single-post &,
    .single-resources &,
    .page-template-default &,
    .error404 &,
    .author &,
    .archive &,
    .search & {
      margin-bottom: 32px;
    }

  }

  .site-header__logo {
    position: relative;
    z-index: 1;
    display: inline;
    width: 100%;
    // flex-grow: 1;
    // flex-basis: 0;
    max-width: calc(32px + 170px);

    a {
      display: inline-block;
      width: 100%;
      max-width: 170px;
      height: 30px;
      margin-top: 8px;
      padding-right: 0;
      padding-left: 0;
      text-indent: -9999px;
      background-image: url('images/logo-header.svg');
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;

      .sticky-header & {
        background-image: url('images/logo-header-dark.svg');
      }

    }

  }

}

.menu-toggle-open {
  position: absolute;
  top: 12px;
  right: 0;
  width: 26px;
  height: 24px;
  // margin-left: 16px;
  color: #fff;
  background-color: transparent;
  background-image: url('images/icons/icon-menu.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border: 0;
  @include breakpoint($md) {
    display: none;
  }

  .sticky-header & {
    background-image: url('images/icons/icon-menu-sticky.svg');
  }

  img {
    position: absolute;
    top: 20%;
    right: 0;
  }

}

.menu-toggle-close {
  position: fixed;
  top: 12px;
  right: 12px;
  z-index: 9999;
  width: 26px;
  height: 24px;
  margin-left: 40px;
  color: #fff;
  background-color: transparent;
  background-image: url('images/icons/icon-close.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border: 0;
}

.page-header {
  position: relative;
  padding-top: 132px;
  color: #fff;
  background-image: url('images/background-header.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .home &,
  .page-template-reztrip &,
  .page-template-ttweb &,
  .page-template-independents &,
  .page-template-casinos &,
  .page-template-digital-marketing &,
  .page-template-management-companies & {
    background-image: url('images/background-header-featured.png');
    background-position: bottom center;
  }

  .single-post &,
  .single-resources &,
  .page-template-default &,
  .author &,
  .archive &,
  .search & {
    padding-top: 94px;
    background-color: $background-white;
    background-image: none;
  }

  .post-type-archive-news-and-press &,
  .post-type-archive-resources & {
    background-image: url('images/background-header.png');
  }

  .page-header__title-area {
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
    @include breakpoint($sm) {
      padding-bottom: 146px;
    }

    .home & {
      position: relative;
      width: 100%;
      @include breakpoint($sm) {
        padding-bottom: 0;
      }
      @include breakpoint($md) {
        flex: 0 0 span(1 of 3);
        justify-content: center;
        max-width: span(1 of 3);
        padding-bottom: 146px;
      }
      @include breakpoint($lg) {
        flex: 0 0 span(5 of 12);
        max-width: span(5 of 12);
      }
    }

    .page-template-reztrip &,
    .page-template-ttweb &,
    .page-template-independents &,
    .page-template-casinos &,
    .page-template-digital-marketing &,
    .page-template-management-companies & {
      position: relative;
      width: 100%;
      @include breakpoint($sm) {
        padding-bottom: 0;
      }
      @include breakpoint($md) {
        flex: 0 0 span(1 of 3);
        justify-content: center;
        max-width: span(1 of 3);
        padding-bottom: 146px;
      }
    }

    .page-template-independents & {
      align-self: flex-start;
      @include breakpoint($xs) {
        padding: 0;
      }
    }

    .page-template-integrations & {
      position: relative;
      width: 100%;
      padding-bottom: 56px;
      @include breakpoint($sm) {
        flex: 0 0 span(3 of 4);
        max-width: span(3 of 4);
        padding-bottom: 48px;
      }
      @include breakpoint($md) {
        flex: 0 0 span(1 of 3);
        max-width: span(1 of 3);
        padding-bottom: 16px;
      }
    }

    .page-template-solutions &,
    .page-template-who-we-serve & {
      align-self: flex-end;
      padding-bottom: 40px;
    }

    .page-template-default &,
    .blog &,
    .post-type-archive-resources &,
    .post-type-archive-news-and-press &,
    .news-and-press-template-default & {
      padding-bottom: 16px;
      @include breakpoint($sm) {
        padding-bottom: 0;
      }
    }

    .page-template-contact & {
      padding-bottom: 16px;
    }

  }

  .page-header__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: $recta;
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;
    color: rgba(255,255,255,1);

    .home & {
      font-size: 64px;
    }

  }

  .page-header__subtitle {
    margin-top: -8px;
    margin-bottom: 16px;
    font-family: $recta;
    text-transform: uppercase;
  }

  .page-header__description {
    margin-bottom: 24px;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;

    .home & {
      max-width: 400px;
    }

  }

  .page-header__feature {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    @include breakpoint($sm) {
      flex-direction: row;
      justify-content: flex-end;
    }

    @supports (-ms-ime-align: auto) {
      overflow: hidden;
    }

    .home & {
      position: relative;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      @include breakpoint($sm) {
        margin-top: -45px;
      }
      @include breakpoint($md) {
        flex: 0 0 span(2 of 3);
        max-width: span(2 of 3);
        margin-top: 0;
        margin-bottom: 46px;
      }
      @include breakpoint($lg) {
        flex: 0 0 span(7 of 12);
        max-width: span(7 of 12);
      }

      img {
        align-self: flex-start;
        margin-bottom: 24px;
        @include breakpoint($sm) {
          max-width: 90%;
        }
        @include breakpoint($md) {
          max-width: 100%;
        }
      }

    }

    .page-template-reztrip &,
    .page-template-ttweb &,
    .page-template-independents &,
    .page-template-casinos &,
    .page-template-digital-marketing &,
    .page-template-management-companies & {
      position: relative;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      @include breakpoint($sm) {
        margin-top: -45px;
      }
      @include breakpoint($md) {
        flex: 0 0 span(2 of 3);
        max-width: span(2 of 3);
        margin-top: 0;
        margin-bottom: 46px;
      }
      @include breakpoint($lg) {
        flex: 0 0 span(2 of 3);
        max-width: span(2 of 3);
      }

      img {
        align-self: flex-start;
        width: 100%;
        margin-bottom: 24px;
        @include breakpoint($sm) {
          max-width: 90%;
        }
        @include breakpoint($md) {
          max-width: 100%;
        }
      }

    }

    .page-template-reztrip & img {
      max-width: 900px;
    }

    .page-template-ttweb & img {
      max-width: 880px;
    }

    .page-template-independents & img {
      max-width: 860px;
    }

    .page-template-casinos & img {
      max-width: 767px;
    }

    .page-template-digital-marketing & img {
      max-width: 890px;
    }

    .page-template-management-companies & img {
      max-width: 685px;
    }

    .page-template-solutions & img,
    .page-template-who-we-serve & img {
      max-width: 700px;
      height: 100%;
      margin-bottom: -155px;
      @include breakpoint($sm) {
        margin-bottom: -212px;
      }
      @include breakpoint($md) {
        margin-bottom: -124px;
      }
    }

  }

  .page-header__features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
    list-style: none;

    .page-template-about & {
      display: block;
      width: initial;
    }

    li {
      position: relative;
      width: 100%;
      margin-bottom: 32px;
      margin-left: 30px;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: .79px;
      @include breakpoint($sm) {
        flex: 0 0 span(1 of 3, $double-gutters);
        max-width: span(1 of 3, $double-gutters);
      }

      &:before {
        position: absolute;
        top: 8px;
        left: -28px;
        width: 20px;
        height: 2px;
        content: '';
        background-color: $red;
      }

      .page-template-about & {
        @include breakpoint($sm) {
          display: inline;
          margin-left: 64px;
        }

        &:first-child {
          margin-left: 28px;
          @include breakpoint($sm) {
            margin-left: 28px;
          }
        }

      }

      .home &,
      .page-template-reztrip &,
      .page-template-ttweb &,
      .page-template-digital-marketing & {
        margin-bottom: 24px;
        color: $gray-dark;
        @include breakpoint($sm) {
          margin-bottom: 0;
          margin-left: 0;
        }
      }

      .page-template-casinos &,
      .page-template-management-companies & {
        margin-bottom: 24px;
        color: $gray-dark;
        @include breakpoint($sm) {
          flex: 0 0 span(1 of 2, $double-gutters);
          max-width: span(1 of 2, $double-gutters);
          margin-bottom: 0;
          margin-left: 0;
        }
      }

    }

  }

  .page-header__cta {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    margin-top: auto;
    padding-bottom: 26px;
    text-align: left;
    @include breakpoint($xs) {
      flex-direction: row;
      align-items: center;
      text-align: right;
    }

    .single-post &,
    .single-resources &,
    .page-template-default &,
    .author &,
    .archive &,
    .search & {
      padding-top: 19px;
      padding-bottom: 14px;
    }

    p {
      margin-bottom: 26px;
      @include breakpoint($xs) {
        margin-bottom: 0;
      }

      .single-post &,
      .single-resources &,
      .page-template-default &,
      .author &,
      .archive &,
      .search & {
        color: $blue-light;
      }

      .post-type-archive-news-and-press &,
      .post-type-archive-resources & {
        color: #fff;
      }

    }

    .btn-holder {
      @include breakpoint($xs) {
        margin-left: 16px;
      }
    }

  }

}
