.sidebar-primary {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  @include breakpoint($md) {
    flex: 0 0 span(1 of 4);
    flex-direction: column;
    max-width: span(1 of 4);
    margin-top: 44px;
    order: 3;
  }

  .blog & {
    margin-bottom: 72px;
    @include breakpoint($sm) {
      margin-bottom: 32px;
    }
    @include breakpoint($md) {
      margin-bottom: 0;
    }
  }

  .single & {
    display: none;
    @include breakpoint($md) {
      display: flex;
      flex: 0 0 span(1 of 4);
      flex-direction: column;
      max-width: span(1 of 4);
    }
    @include breakpoint($lg) {
      flex: 0 0 span(1 of 4, $double-gutters);
      flex-direction: column;
      max-width: span(1 of 4, $double-gutters);
    }
  }

}

.sidebar-secondary {
  display: none;
  @include breakpoint($md) {
    display: flex;
    flex: 0 0 span(1 of 6);
    flex-direction: column;
    max-width: span(1 of 6);
    order: 1;
  }
  @include breakpoint($lg) {
    flex: 0 0 span(1 of 6, $double-gutters);
    flex-direction: column;
    max-width: span(1 of 6, $double-gutters);
    order: 1;
  }
}
