.sidebar-primary,
.sidebar-resources {
  display: none;
  @include breakpoint($md) {
    position: relative;
    display: flex;
    flex: 0 0 span(1 of 4);
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: span(1 of 4);
    margin-top: 44px;
    order: 3;
  }
  @include breakpoint($lg) {
    flex: 0 0 span(1 of 4, $double-gutters);
    flex-direction: column;
    max-width: span(1 of 4, $double-gutters);
  }

  .blog & {
    margin-bottom: 72px;
    @include breakpoint($sm) {
      margin-bottom: 32px;
    }
    @include breakpoint($md) {
      margin-bottom: 0;
    }
  }

  .tag-filter {
    margin-bottom: 32px;
  }

  // .single-post & {
  //   display: none;
  //   @include breakpoint($md) {
  //     display: flex;
  //     flex: 0 0 span(1 of 4);
  //     flex-direction: column;
  //     max-width: span(1 of 4);
  //   }
  //   @include breakpoint($lg) {
  //     flex: 0 0 span(1 of 4, $double-gutters);
  //     flex-direction: column;
  //     max-width: span(1 of 4, $double-gutters);
  //   }
  // }

  // .single-resources & {
  //   display: none;
  //   @include breakpoint($md) {
  //     display: flex;
  //     flex: 0 0 span(1 of 4);
  //     flex-direction: column;
  //     max-width: span(1 of 4);
  //   }
  //   @include breakpoint($lg) {
  //     flex: 0 0 span(1 of 4, $double-gutters);
  //     flex-direction: column;
  //     max-width: span(1 of 4, $double-gutters);
  //   }
  // }

}

.sidebar-secondary {
  display: none;
  @include breakpoint($md) {
    display: flex;
    flex: 0 0 span(1 of 6);
    flex-direction: column;
    max-width: span(1 of 6);
    order: 1;
  }
  @include breakpoint($lg) {
    flex: 0 0 span(1 of 6, $double-gutters);
    flex-direction: column;
    max-width: span(1 of 6, $double-gutters);
    order: 1;
  }
}

.sidebar__nav {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu-item {
    padding: 17px 0 18px;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #d8d8d8;

    &:last-child {
      border-bottom: 0;
    }

    a {
      color: #9b9b9b;
    }

  }

  .current-menu-item a {
    color: $red;
  }

}
