// Display
.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.d-none {
  display: none !important;
}

.d-sm-inline {
  @include breakpoint($sm) {
    display: inline !important;
  }
}

.d-md-none {
  @include breakpoint($md) {
    display: none !important;
  }
}

.d-sm-block {
  @include breakpoint($sm) {
    display: block !important;
  }
}

.d-md-block {
  @include breakpoint($md) {
    display: block !important;
  }
}

.d-md-inline-block {
  @include breakpoint($md) {
    display: inline-block !important;
  }
}
