.author {

  .widget-author-separator {
    @include breakpoint($md) {
      max-width: 1024px;
    }

    .border {
      margin-bottom: 32px;
      border-bottom: 1px solid $gray-dark;
    }

  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include breakpoint($md) {
      max-width: 1024px;
    }
  }

  .post {
    position: relative;
    width: 100%;
    margin-bottom: 64px;
    @include breakpoint($xs) {
      flex: 0 0 span(1 of 2);
      max-width: span(1 of 2);
      margin-right: 0;
      margin-left: 0;
    }
    @include breakpoint($sm) {
      flex: 0 0 span(1 of 3);
      max-width: span(1 of 3);
    }

    a {
      font-family: $recta;
      color: $blue-light;
    }

    p {
      margin-bottom: 0;
    }

  }

}
