.contact-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 72px;
  margin-bottom: 80px;

  .email {
    position: relative;
    width: 100%;
    @include breakpoint($sm) {
      flex: 0 0 span(5 of 12);
      max-width: span(5 of 12);
    }
    @include breakpoint($md) {
      flex: 0 0 span(1 of 2);
      max-width: span(1 of 2);
    }

    > div {
      margin-bottom: 32px;
    }

    .title {
      font-family: $recta;
      font-size: 21px;
      font-weight: 700;
      line-height: 32px;
      color: $gray-dark;
    }

    p {
      margin-bottom: 8px;
    }

  }

  .form {
    position: relative;
    width: 100%;
    @include breakpoint($sm) {
      flex: 0 0 span(7 of 12);
      max-width: span(7 of 12);
    }
    @include breakpoint($md) {
      flex: 0 0 span(1 of 2);
      max-width: span(1 of 2);
    }

    p {
      font-family: $recta;
      font-size: 21px;
      font-weight: 700;
      line-height: 32px;
    }
  }

  .gform_fields {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .ginput_container_name {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .name_first,
    .name_last {
      position: relative;
      width: 100%;
      @include breakpoint($md) {
        flex: 0 0 span(1 of 2);
        max-width: span(1 of 2);
      }

      label {
        display: none;
      }

    }

  }

  .gfield_label {
    display: block;
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
  }

  .name_first {
    margin-bottom: 32px;
    @include breakpoint($md) {
      margin-bottom: 0;
    }
  }

  .ginput_container {

    input {
      width: 100%;
      padding: 6px 8px 10px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      background-color: #fff;
      border: 1px solid #9b9b9b;
      border-radius: 3px;

      &::placeholder { // Chrome, Firefox, Opera, Safari 10.1+
        color: #526173;
        opacity: .25;
      }

      &:-ms-input-placeholder { // Internet Explorer 10-11
        color: #526173;
        opacity: .25;
      }

      &::-ms-input-placeholder { // Microsoft Edge
        color: #526173;
        opacity: .25;
      }

    }

    select {
      position: relative;
      width: 100%;
      padding: 7px 8px 9px;
      font-family: $source-sans;
      font-size: 14px;
      color: $gray-dark;
      background-color: #fff;
      border: 1px solid #9b9b9b;
      // -webkit-appearance: none;
      //    -moz-appearance: none;
      //         appearance: none;
      border-radius: 3px;

      // &::-ms-expand {
      //   display: none;
      // }

      // &:after {
      //   position: absolute;
      //   top: 8px;
      //   right: 11px;
      //   width: 12px;
      //   content: url('images/icons/icon-form-dropdown.svg');
      // }

    }

    textarea {
      width: 100%;
      margin-bottom: 24px;
      padding: 6px 8px 10px;
      background-color: #fff;
      border: 1px solid #9b9b9b;
      border-radius: 3px;
    }

  }

  .gform_button {
    float: right;
    font-family: $recta;
    font-size: 18px;
    font-weight: 700;
  }

}

.locations {

  .section-title {
    line-height: 21px;
  }

  .location__wrap {
    margin-left: 69px;
    @include breakpoint($sm) {
      margin-left: 0;
    }
  }

  .location {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 270px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    @include breakpoint($sm) {
      flex: 1;
      justify-content: center;
      min-height: 388px;
    }

    .title {
      font-size: 21px;
      font-weight: 700;
    }

    p {
      margin-bottom: 16px;
    }

  }

}
