.page-template-integrations {

  .page-header {
    margin-bottom: 72px;
  }

  .integrations-section {
    margin-bottom: 80px;

    .col-left {
      position: relative;
      width: 100%;
      @include breakpoint($lg) {
        flex: 0 0 span(1 of 4, $double-gutters);
        max-width: span(1 of 4, $double-gutters);
      }
    }

    .col-right {
      position: relative;
      width: 100%;
      @include breakpoint($lg) {
        flex: 0 0 span(3 of 4, $double-gutters);
        max-width: span(3 of 4, $double-gutters);
      }
    }

  }

  .integrations__logo {
    position: relative;
    display: flex;
    flex: 0 0 span(1 of 2);
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    max-width: span(1 of 2);
    height: 100px;
    margin-bottom: 32px;
    @include breakpoint($xs) {
      flex: 0 0 span(1 of 3);
      max-width: span(1 of 3);
    }
    @include breakpoint($sm) {
      flex: 0 0 span(1 of 4);
      max-width: span(1 of 4);
    }
    @include breakpoint($md) {
      flex: 0 0 calc((89% - 160px) / 6 * 1);
      max-width: calc((89% - 160px) / 6 * 1);
    }

    + .integrations__logo {
      @include breakpoint($md) {
        margin-left: 48px;
      }
    }

    &:nth-of-type(6n+7) {
      @include breakpoint($md) {
        margin-left: 0;
      }
    }

    img {
      width: 100%;
      max-width: 145px;
    }

  }

}
