.page-template-support {

  .form {
    max-width: 704px;
    margin: 72px auto 80px;
    padding-right: 16px;
    padding-left: 16px;
    @include breakpoint($lg) {
      margin-bottom: 104px;
    }
  }

  .form-label {
    display: block;
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
  }

  input {
    width: 100%;
    padding: 6px 8px 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: #fff;
    border: 1px solid #9b9b9b;
    border-radius: 3px;

    &::placeholder { // Chrome, Firefox, Opera, Safari 10.1+
      color: #526173;
      opacity: .25;
    }

    &:-ms-input-placeholder { // Internet Explorer 10-11
      color: #526173;
      opacity: .25;
    }

    &::-ms-input-placeholder { // Microsoft Edge
      color: #526173;
      opacity: .25;
    }

  }

  select {
    position: relative;
    width: 100%;
    padding: 7px 8px 9px;
    font-family: $source-sans;
    font-size: 14px;
    color: $gray-dark;
    background-color: #fff;
    border: 1px solid #9b9b9b;
    // -webkit-appearance: none;
    //    -moz-appearance: none;
    //         appearance: none;
    border-radius: 3px;

    // &::-ms-expand {
    //   display: none;
    // }

    // &:after {
    //   position: absolute;
    //   top: 8px;
    //   right: 11px;
    //   width: 12px;
    //   content: url('images/icons/icon-form-dropdown.svg');
    // }

  }

  textarea {
    width: 100%;
    margin-bottom: 24px;
    padding: 6px 8px 10px;
    background-color: #fff;
    border: 1px solid #9b9b9b;
    border-radius: 3px;
  }

  .submit-btn {
    display: inline-block;
    float: right;
    width: inherit;
    padding: 12px 24px;
    font-family: $recta;
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
    background-color: $red;
    border-color: $red;
    border-style: solid;
    border-width: 1px;

    &:hover {
      text-decoration: none;
      cursor: pointer;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .3);
      transition: background-color 500ms ease-out;
      transform: translateY(-1px);
    }

    &:focus {
      outline: 0;
    }

  }

}

.page-template-support-thank-you {

  .form {
    max-width: 704px;
    margin: 72px auto 80px;
    padding-right: 16px;
    padding-left: 16px;
    @include breakpoint($lg) {
      margin-bottom: 104px;
    }
  }

  .success-message {
    padding: 200px 0;
    font-family: $recta;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25em;
    text-align: center;
  }

}
